/*! Basscss | http://basscss.com | MIT License */

.codecov-h1{ font-size: 2rem }
.codecov-h2{ font-size: 1.5rem }
.codecov-h3{ font-size: 1.25rem }
.codecov-h4{ font-size: 1rem }
.codecov-h5{ font-size: .875rem }
.codecov-h6{ font-size: .75rem }

.codecov-font-family-inherit{ font-family:inherit }
.codecov-font-size-inherit{ font-size:inherit }
.codecov-text-decoration-none{ text-decoration:none }

.codecov-bold{ font-weight: bold; font-weight: bold }
.codecov-regular{ font-weight:normal }
.codecov-italic{ font-style:italic }
.codecov-caps{ text-transform:uppercase; letter-spacing: .2em; }

.codecov-left-align{ text-align:left }
.codecov-center{ text-align:center }
.codecov-right-align{ text-align:right }
.codecov-justify{ text-align:justify }

.codecov-nowrap{ white-space:nowrap }
.codecov-break-word{ word-wrap:break-word }

.codecov-line-height-1{ line-height: 1 }
.codecov-line-height-2{ line-height: 1.125 }
.codecov-line-height-3{ line-height: 1.25 }
.codecov-line-height-4{ line-height: 1.5 }

.codecov-list-style-none{ list-style:none }
.codecov-underline{ text-decoration:underline }

.codecov-truncate{
  max-width:100%;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.codecov-list-reset{
  list-style:none;
  padding-left:0;
}

.codecov-inline{ display:inline }
.codecov-block{ display:block }
.codecov-inline-block{ display:inline-block }
.codecov-table{ display:table }
.codecov-table-cell{ display:table-cell }

.codecov-overflow-hidden{ overflow:hidden }
.codecov-overflow-scroll{ overflow:scroll }
.codecov-overflow-auto{ overflow:auto }

.codecov-clearfix:before,
.codecov-clearfix:after{
  content:" ";
  display:table
}
.codecov-clearfix:after{ clear:both }

.codecov-left{ float:left }
.codecov-right{ float:right }

.codecov-fit{ max-width:100% }

.codecov-max-width-1{ max-width: 24rem }
.codecov-max-width-2{ max-width: 32rem }
.codecov-max-width-3{ max-width: 48rem }
.codecov-max-width-4{ max-width: 64rem }

.codecov-border-box{ box-sizing:border-box }

.codecov-align-baseline{ vertical-align:baseline }
.codecov-align-top{ vertical-align:top }
.codecov-align-middle{ vertical-align:middle }
.codecov-align-bottom{ vertical-align:bottom }

.codecov-m0{ margin:0 }
.codecov-mt0{ margin-top:0 }
.codecov-mr0{ margin-right:0 }
.codecov-mb0{ margin-bottom:0 }
.codecov-ml0{ margin-left:0 }
.codecov-mx0{ margin-left:0; margin-right:0 }
.codecov-my0{ margin-top:0; margin-bottom:0 }

.codecov-m1{ margin: .5rem }
.codecov-mt1{ margin-top: .5rem }
.codecov-mr1{ margin-right: .5rem }
.codecov-mb1{ margin-bottom: .5rem }
.codecov-ml1{ margin-left: .5rem }
.codecov-mx1{ margin-left: .5rem; margin-right: .5rem }
.codecov-my1{ margin-top: .5rem; margin-bottom: .5rem }

.codecov-m2{ margin: 1rem }
.codecov-mt2{ margin-top: 1rem }
.codecov-mr2{ margin-right: 1rem }
.codecov-mb2{ margin-bottom: 1rem }
.codecov-ml2{ margin-left: 1rem }
.codecov-mx2{ margin-left: 1rem; margin-right: 1rem }
.codecov-my2{ margin-top: 1rem; margin-bottom: 1rem }

.codecov-m3{ margin: 2rem }
.codecov-mt3{ margin-top: 2rem }
.codecov-mr3{ margin-right: 2rem }
.codecov-mb3{ margin-bottom: 2rem }
.codecov-ml3{ margin-left: 2rem }
.codecov-mx3{ margin-left: 2rem; margin-right: 2rem }
.codecov-my3{ margin-top: 2rem; margin-bottom: 2rem }

.codecov-m4{ margin: 4rem }
.codecov-mt4{ margin-top: 4rem }
.codecov-mr4{ margin-right: 4rem }
.codecov-mb4{ margin-bottom: 4rem }
.codecov-ml4{ margin-left: 4rem }
.codecov-mx4{ margin-left: 4rem; margin-right: 4rem }
.codecov-my4{ margin-top: 4rem; margin-bottom: 4rem }

.codecov-mxn1{ margin-left: -.5rem; margin-right: -.5rem; }
.codecov-mxn2{ margin-left: -1rem; margin-right: -1rem; }
.codecov-mxn3{ margin-left: -2rem; margin-right: -2rem; }
.codecov-mxn4{ margin-left: -4rem; margin-right: -4rem; }

.codecov-ml-auto{ margin-left:auto }
.codecov-mr-auto{ margin-right:auto }
.codecov-mx-auto{ margin-left:auto; margin-right:auto; }

.codecov-p0{ padding:0 }
.codecov-pt0{ padding-top:0 }
.codecov-pr0{ padding-right:0 }
.codecov-pb0{ padding-bottom:0 }
.codecov-pl0{ padding-left:0 }
.codecov-px0{ padding-left:0; padding-right:0 }
.codecov-py0{ padding-top:0;  padding-bottom:0 }

.codecov-p1{ padding: .5rem }
.codecov-pt1{ padding-top: .5rem }
.codecov-pr1{ padding-right: .5rem }
.codecov-pb1{ padding-bottom: .5rem }
.codecov-pl1{ padding-left: .5rem }
.codecov-py1{ padding-top: .5rem; padding-bottom: .5rem }
.codecov-px1{ padding-left: .5rem; padding-right: .5rem }

.codecov-p2{ padding: 1rem }
.codecov-pt2{ padding-top: 1rem }
.codecov-pr2{ padding-right: 1rem }
.codecov-pb2{ padding-bottom: 1rem }
.codecov-pl2{ padding-left: 1rem }
.codecov-py2{ padding-top: 1rem; padding-bottom: 1rem }
.codecov-px2{ padding-left: 1rem; padding-right: 1rem }

.codecov-p3{ padding: 2rem }
.codecov-pt3{ padding-top: 2rem }
.codecov-pr3{ padding-right: 2rem }
.codecov-pb3{ padding-bottom: 2rem }
.codecov-pl3{ padding-left: 2rem }
.codecov-py3{ padding-top: 2rem; padding-bottom: 2rem }
.codecov-px3{ padding-left: 2rem; padding-right: 2rem }

.codecov-p4{ padding: 4rem }
.codecov-pt4{ padding-top: 4rem }
.codecov-pr4{ padding-right: 4rem }
.codecov-pb4{ padding-bottom: 4rem }
.codecov-pl4{ padding-left: 4rem }
.codecov-py4{ padding-top: 4rem; padding-bottom: 4rem }
.codecov-px4{ padding-left: 4rem; padding-right: 4rem }

.codecov-col{
  float:left;
  box-sizing:border-box;
}

.codecov-col-right{
  float:right;
  box-sizing:border-box;
}

.codecov-col-1{
  width:8.33333%;
}

.codecov-col-2{
  width:16.66667%;
}

.codecov-col-3{
  width:25%;
}

.codecov-col-4{
  width:33.33333%;
}

.codecov-col-5{
  width:41.66667%;
}

.codecov-col-6{
  width:50%;
}

.codecov-col-7{
  width:58.33333%;
}

.codecov-col-8{
  width:66.66667%;
}

.codecov-col-9{
  width:75%;
}

.codecov-col-10{
  width:83.33333%;
}

.codecov-col-11{
  width:91.66667%;
}

.codecov-col-12{
  width:100%;
}
@media (min-width: 40em){

  .codecov-sm-col{
    float:left;
    box-sizing:border-box;
  }

  .codecov-sm-col-right{
    float:right;
    box-sizing:border-box;
  }

  .codecov-sm-col-1{
    width:8.33333%;
  }

  .codecov-sm-col-2{
    width:16.66667%;
  }

  .codecov-sm-col-3{
    width:25%;
  }

  .codecov-sm-col-4{
    width:33.33333%;
  }

  .codecov-sm-col-5{
    width:41.66667%;
  }

  .codecov-sm-col-6{
    width:50%;
  }

  .codecov-sm-col-7{
    width:58.33333%;
  }

  .codecov-sm-col-8{
    width:66.66667%;
  }

  .codecov-sm-col-9{
    width:75%;
  }

  .codecov-sm-col-10{
    width:83.33333%;
  }

  .codecov-sm-col-11{
    width:91.66667%;
  }

  .codecov-sm-col-12{
    width:100%;
  }

}
@media (min-width: 52em){

  .codecov-md-col{
    float:left;
    box-sizing:border-box;
  }

  .codecov-md-col-right{
    float:right;
    box-sizing:border-box;
  }

  .codecov-md-col-1{
    width:8.33333%;
  }

  .codecov-md-col-2{
    width:16.66667%;
  }

  .codecov-md-col-3{
    width:25%;
  }

  .codecov-md-col-4{
    width:33.33333%;
  }

  .codecov-md-col-5{
    width:41.66667%;
  }

  .codecov-md-col-6{
    width:50%;
  }

  .codecov-md-col-7{
    width:58.33333%;
  }

  .codecov-md-col-8{
    width:66.66667%;
  }

  .codecov-md-col-9{
    width:75%;
  }

  .codecov-md-col-10{
    width:83.33333%;
  }

  .codecov-md-col-11{
    width:91.66667%;
  }

  .codecov-md-col-12{
    width:100%;
  }

}
@media (min-width: 64em){

  .codecov-lg-col{
    float:left;
    box-sizing:border-box;
  }

  .codecov-lg-col-right{
    float:right;
    box-sizing:border-box;
  }

  .codecov-lg-col-1{
    width:8.33333%;
  }

  .codecov-lg-col-2{
    width:16.66667%;
  }

  .codecov-lg-col-3{
    width:25%;
  }

  .codecov-lg-col-4{
    width:33.33333%;
  }

  .codecov-lg-col-5{
    width:41.66667%;
  }

  .codecov-lg-col-6{
    width:50%;
  }

  .codecov-lg-col-7{
    width:58.33333%;
  }

  .codecov-lg-col-8{
    width:66.66667%;
  }

  .codecov-lg-col-9{
    width:75%;
  }

  .codecov-lg-col-10{
    width:83.33333%;
  }

  .codecov-lg-col-11{
    width:91.66667%;
  }

  .codecov-lg-col-12{
    width:100%;
  }

}
.codecov-flex{ display:-webkit-box; display:-webkit-flex; display:-ms-flexbox; display:flex }

@media (min-width: 40em){
  .codecov-sm-flex{ display:-webkit-box; display:-webkit-flex; display:-ms-flexbox; display:flex }
}

@media (min-width: 52em){
  .codecov-md-flex{ display:-webkit-box; display:-webkit-flex; display:-ms-flexbox; display:flex }
}

@media (min-width: 64em){
  .codecov-lg-flex{ display:-webkit-box; display:-webkit-flex; display:-ms-flexbox; display:flex }
}

.codecov-flex-column{ -webkit-box-orient:vertical; -webkit-box-direction:normal; -webkit-flex-direction:column; -ms-flex-direction:column; flex-direction:column }
.codecov-flex-wrap{ -webkit-flex-wrap:wrap; -ms-flex-wrap:wrap; flex-wrap:wrap }

.codecov-items-start{ -webkit-box-align:start; -webkit-align-items:flex-start; -ms-flex-align:start; -ms-grid-row-align:flex-start; align-items:flex-start }
.codecov-items-end{ -webkit-box-align:end; -webkit-align-items:flex-end; -ms-flex-align:end; -ms-grid-row-align:flex-end; align-items:flex-end }
.codecov-items-center{ -webkit-box-align:center; -webkit-align-items:center; -ms-flex-align:center; -ms-grid-row-align:center; align-items:center }
.codecov-items-baseline{ -webkit-box-align:baseline; -webkit-align-items:baseline; -ms-flex-align:baseline; -ms-grid-row-align:baseline; align-items:baseline }
.codecov-items-stretch{ -webkit-box-align:stretch; -webkit-align-items:stretch; -ms-flex-align:stretch; -ms-grid-row-align:stretch; align-items:stretch }

.codecov-self-start{ -webkit-align-self:flex-start; -ms-flex-item-align:start; align-self:flex-start }
.codecov-self-end{ -webkit-align-self:flex-end; -ms-flex-item-align:end; align-self:flex-end }
.codecov-self-center{ -webkit-align-self:center; -ms-flex-item-align:center; align-self:center }
.codecov-self-baseline{ -webkit-align-self:baseline; -ms-flex-item-align:baseline; align-self:baseline }
.codecov-self-stretch{ -webkit-align-self:stretch; -ms-flex-item-align:stretch; align-self:stretch }

.codecov-justify-start{ -webkit-box-pack:start; -webkit-justify-content:flex-start; -ms-flex-pack:start; justify-content:flex-start }
.codecov-justify-end{ -webkit-box-pack:end; -webkit-justify-content:flex-end; -ms-flex-pack:end; justify-content:flex-end }
.codecov-justify-center{ -webkit-box-pack:center; -webkit-justify-content:center; -ms-flex-pack:center; justify-content:center }
.codecov-justify-between{ -webkit-box-pack:justify; -webkit-justify-content:space-between; -ms-flex-pack:justify; justify-content:space-between }
.codecov-justify-around{ -webkit-justify-content:space-around; -ms-flex-pack:distribute; justify-content:space-around }

.codecov-content-start{ -webkit-align-content:flex-start; -ms-flex-line-pack:start; align-content:flex-start }
.codecov-content-end{ -webkit-align-content:flex-end; -ms-flex-line-pack:end; align-content:flex-end }
.codecov-content-center{ -webkit-align-content:center; -ms-flex-line-pack:center; align-content:center }
.codecov-content-between{ -webkit-align-content:space-between; -ms-flex-line-pack:justify; align-content:space-between }
.codecov-content-around{ -webkit-align-content:space-around; -ms-flex-line-pack:distribute; align-content:space-around }
.codecov-content-stretch{ -webkit-align-content:stretch; -ms-flex-line-pack:stretch; align-content:stretch }
.codecov-flex-auto{
  -webkit-box-flex:1;
  -webkit-flex:1 1 auto;
      -ms-flex:1 1 auto;
          flex:1 1 auto;
  min-width:0;
  min-height:0;
}
.codecov-flex-none{ -webkit-box-flex:0; -webkit-flex:none; -ms-flex:none; flex:none }

.codecov-order-0{ -webkit-box-ordinal-group:1; -webkit-order:0; -ms-flex-order:0; order:0 }
.codecov-order-1{ -webkit-box-ordinal-group:2; -webkit-order:1; -ms-flex-order:1; order:1 }
.codecov-order-2{ -webkit-box-ordinal-group:3; -webkit-order:2; -ms-flex-order:2; order:2 }
.codecov-order-3{ -webkit-box-ordinal-group:4; -webkit-order:3; -ms-flex-order:3; order:3 }
.codecov-order-last{ -webkit-box-ordinal-group:100000; -webkit-order:99999; -ms-flex-order:99999; order:99999 }

.codecov-relative{ position:relative }
.codecov-absolute{ position:absolute }
.codecov-fixed{ position:fixed }

.codecov-top-0{ top:0 }
.codecov-right-0{ right:0 }
.codecov-bottom-0{ bottom:0 }
.codecov-left-0{ left:0 }

.codecov-z1{ z-index: 1 }
.codecov-z2{ z-index: 2 }
.codecov-z3{ z-index: 3 }
.codecov-z4{ z-index: 4 }

.codecov-border{
  border-style:solid;
  border-width: 1px;
}

.codecov-border-top{
  border-top-style:solid;
  border-top-width: 1px;
}

.codecov-border-right{
  border-right-style:solid;
  border-right-width: 1px;
}

.codecov-border-bottom{
  border-bottom-style:solid;
  border-bottom-width: 1px;
}

.codecov-border-left{
  border-left-style:solid;
  border-left-width: 1px;
}

.codecov-border-none{ border:0 }

.codecov-rounded{ border-radius: 3px }
.codecov-circle{ border-radius:50% }

.codecov-rounded-top{ border-radius: 3px 3px 0 0 }
.codecov-rounded-right{ border-radius: 0 3px 3px 0 }
.codecov-rounded-bottom{ border-radius: 0 0 3px 3px }
.codecov-rounded-left{ border-radius: 3px 0 0 3px }

.codecov-not-rounded{ border-radius:0 }

.codecov-hide{
  position:absolute !important;
  height:1px;
  width:1px;
  overflow:hidden;
  clip:rect(1px, 1px, 1px, 1px);
}

@media (max-width: 40em){
  .codecov-xs-hide{ display:none !important }
}

@media (min-width: 40em) and (max-width: 52em){
  .codecov-sm-hide{ display:none !important }
}

@media (min-width: 52em) and (max-width: 64em){
  .codecov-md-hide{ display:none !important }
}

@media (min-width: 64em){
  .codecov-lg-hide{ display:none !important }
}

.codecov-display-none{ display:none !important }

